<!-- <div class="fixed-bottom ft bg-secondary text-white">
<p><i class="fas fa-copyright"></i> 2020 Copyright@VoizFonica Telecom</p>
</div> -->


<br><br><br><br><br><br><br><br><br>
<!-- <br><br><br><br><br><br><br><br> -->
<footer id="footer" class="footer-1" style="background-color: white;">
<div class="main-footer widgets-dark typo-light">
<div class="container">
<div class="row">

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget subscribe no-box">
<h5 class="widget-title"><i><b>VoizFonica</b></i><span></span></h5>
<p>VoizFonica is a Mobile Network Operator and telephone company.It provides network access and telecommunication services
that help people and companies communicate in an easy, efficient.VoizFonica, established in the year 2010, has recorded
substantial growth . </p>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title"><b>We Offer</b><span></span></h5>
<ul class="thumbnail-widget">
<li>
Postpaid Connection
</li>
<li>
Prepaid Connection
</li>
<li>
4G & Mobile Internet
</li>
<li>
Home BroadBand
</li>
<li>
Dongle Services
</li>
<!-- <li>
<div class="thumb-content"><a href="#.">About</a></div>
</li> -->
</ul>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<div class="widget no-box">
<h5 class="widget-title"><b>Get Started</b><span></span></h5>
<p>Get access to your Global World and its technology.</p>
<a class="btn" routerLink="/register" style="background-color: red;"><b style="color: white;">Register Now</b></a>
</div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">

<div class="widget no-box">
<h5 class="widget-title"><b>Contact Us</b><span></span></h5>

<p><a routerLink="/contact" title="glorythemes">wecare@voizfonica.com</a></p>
<ul class="social-footer2">
<li class=""><i class="fab fa-instagram"> <b> Instagram</b></i>
</li>
<li class=""><i class="fab fa-youtube"> <b> Youtube</b></i>
</li>
<li class=""><i class="fab fa-facebook"><b> Facebook</b></i>
</li>
<li class=""><i class="fab fa-whatsapp"><b> Whatsapp</b></i>
</li>
</ul>
</div>
</div>

</div>
</div>
</div>

<div class="footer-copyright">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<b>Copyright VoizFonica © 2020 || All rights reserved || In <i class="fas fa-heart"> </i> with customers</b>
</div>
</div>
</div>
</div>
</footer>
