<br><br>
<h3 style="text-align: center;">Dongle Plans</h3>
<div class="container">
    <table  cellspacing:0px  class="table"  >
            <tr style="text-align: center;">
                
                <th scope="col">Plan</th>
                <th scope="col">Description</th>
                <th scope="col">Validity</th>
                <th></th>
            </tr>
            <tbody style="text-align: center;">
                <tr>
                    <td>Rs.309 (24 GB)</td>
                    <td>2GB Data /Month </td>
                    <td>12 months</td>
                    <td><button type="button" class="btn btn-success" routerLink="/buy" >Buy</button></td>
                </tr>
                <tr>
                    <td>Rs.509 (168 GB)</td>
                    <td>2GB Data/Month</td>
                    <td>4 months</td>
                    <td><button type="button" class="btn btn-success" routerLink="/buy" >Buy</button></td>
                </tr>
                <tr>
                    <td>Rs.999 (120 GB)</td>
                    <td>No Daily data limit</td>
                    <td>2 months</td>
                    <td><button type="button" class="btn btn-success" routerLink="/buy" >Buy</button></td>
                </tr>
            
            </tbody>
        </table>
    </div>
    
        

