       
       <!--forgot password page where the user can enter aadhar number and get the password-->
       <br><br><br>
        <div class="jumbotron" style=" background-image: url('../../assets/aadharbg.jpg')">
<div class="container" > 
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="customdiv">
                    
                    <form class="form-group" >
                           
                            <div class="form-group ">
                                    <label>Aadhaar Number</label>      
                                    <input type="text" class="form-control p-4"  required   placeholder="Aadhaar number" name="id" />
                                                  
                            </div>
                            
                            <button type="submit"   class="btn btn"  style ="background-color:#E98074" onclick="msg()" >Submit</button><br>
                    
                    </form>
            </div>
    
        </div>
        <div class="col-lg-3">
                
        </div>
    
    </div>
    </div>
</div>