
<br><br>
<h3 style="text-align: center;">Postpaid Plans</h3>
<div class="container">
    <table  cellspacing:0px  class="table"  >
            <tr style="text-align: center;">
                
                <th scope="col">Plan</th>
                <th scope="col">Description</th>
                
                <th></th>
            </tr>
            <tbody style="text-align: center;">
                <tr>
                    <td>Rs.499 (Monthly Rental)</td>
                    <td>STD calls Unlimited + NetFlix Subscription free for 3 months</td>
                    
                    <td><button type="button" class="btn btn-success" routerLink="/buy" >Buy</button></td>
                </tr>
                <tr>
                    <td>Rs.799 (Monthly Rental)</td>
                    <td>STD calls Unlimited + NetFlix Subscription free for 3 months + AmazonPrime Subscription free for a month </td>
                    
                    <td><button type="button" class="btn btn-success" routerLink="/buy" >Buy</button></td>
                </tr>
                <tr>
                    <td>Rs.999 (Monthly Rental)</td>
                    <td>STD calls Unlimited + NetFlix Subscription free for 6 months + 2 Family add-ons free</td>
                   
                    <td><button type="button" class="btn btn-success" routerLink="/buy" >Buy</button></td>
                </tr>
            
            </tbody>
        </table>
    </div>
    
        

