
/*styling for the payment page*/
.bg-cover {
    background-size: cover !important;
}
.display-4 {
    color:black;
}
.container{
    color:black;
}

body {
    min-height: 100vh;
}

body {
    background: #8E8D8A;
  }
  
  .rounded-lg {
    border-radius: 1rem;
  }
  
  .nav-pills .nav-link {
    color:BLACK;
    
  }
  
  .nav-pills .nav-link.active {
    color:white;
    background-color: red;
  }