
<br><br>
<h3 style="text-align: center;">Prepaid Plans</h3>
<div class="container">
    <table  cellspacing:0px  class="table"  >
            <tr style="text-align: center;">
                
                <th scope="col">Plan</th>
                <th scope="col">Description</th>
                <th scope="col">Validity</th>
                <th></th>
            </tr>
            <tbody style="text-align: center;">
                <tr>
                    <td>Rs.399</td>
                    <td>1.5 GB/Day+Free 30min call</td>
                    <td>56 Days</td>
                    <td><button type="button" class="btn btn-success" routerLink="/buy" >Buy</button></td>
                </tr>
                <tr>
                    <td>Rs.599</td>
                    <td>1.5 GB/Day + MusicApp premium free for a month</td>
                    <td>86 Days</td>
                    <td><button type="button" class="btn btn-success" routerLink="/buy" >Buy</button></td>
                </tr>
                <tr>
                    <td>Rs.2319</td>
                    <td>2 GB/Day + MusicApp premium free for 3 months</td>
                    <td>365 Days</td>
                    <td><button type="button" class="btn btn-success" routerLink="/buy" >Buy</button></td>
                </tr>
            
            </tbody>
        </table>
    </div>
    
        
