
<!--complaint issue page-->
<!--here the customer can ask submit the queries-->
<div class="conatiner">
  <div class="row"></div>
  <div class="col-lg-4">
  </div>
  <div class="col-lg-4"></div>
  <h1>Thank you.</h1><br><br>
  <h2>Your issue has been recorded. Note down Your Issue Id for Tracking</h2><br><br>
  <h3 style="text-align: center;">We will get back to you!</h3><br>
  
  <p style="font-size: x-large;">Your issue id:<strong><pre style="font-size: xx-large;">124051652</pre></strong></p>
  <img src="../../assets/thankyou.png" class="center">
  
  <div class="col-lg-4"></div>
  </div>
  