<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    
    
    <br><br>
    <table class="table table-dark">
    <thead style="background-color: whitesmoke; color: black;">
    <tr>
    <th scope="#"></th>
    <th scope="col">Issue Id</th>
    <th scope="col">Status</th>
    <th scope="col">Due Date</th>
    </tr>
    </thead>
    <tbody>
    <tr style="background-color: red;">
    <th scope="row">1</th>
    <td>124051652</td>
    <td>In Progress</td>
    <td>28/01/2020</td>
    </tr>
    
    </tbody>
    </table>
    </div>
    <div class="col-md-2"></div>
    </div>